h3
{
    font-size: 25px !important;
}
.btn-success:hover
{
    background-color:burlywood;
}

canvas {
    animation-name: example;
    animation-duration:4s;
    animation-iteration-count: infinite;
}


@keyframes examples {

    from {box-shadow:}
}